/* General styles for the divs */
div {
  border: 20px solid #000; /* border width, type, and default color */
  display: inline-block; /* positioning elements next to each other */
  min-width: 20em; /* ensuring the divs have a minimum width */
  min-height: 25em; /* and a minimum height */
  border-radius: 50%; /* rounding the divs into a circle */
  border-left-color: transparent; /* removing color from left side */
  border-right-color: transparent; /* right side */
  border-bottom-color: transparent; /* bottom of the circle */
}

/* 10-16. Setting the top border colors for each rainbow color */
#red {
  border-top-color: #f00; /* red */
}

#orange {
  border-top-color: #ffa500; /* orange */
}

#yellow {
  border-top-color: #ff0; /* yellow */
}

#green {
  border-top-color: #00bc3f; /* green */
}

#blue {
  border-top-color: #06f; /* blue */
}

#indigo {
  border-top-color: #8a2be2; /* indigo */
}

#violet {
  border-top-color: #d300c9; /* violet */
}
